root = true

[*]
insert_final_newline = true

[*.kt]
# Ignores the 'standard:function-naming' rule for functions annotated with @Composable
ktlint_function_naming_ignore_when_annotated_with = Composable

[*.{kt,kts}]
indent_size = 4
max_line_length = 120
ktlint_rule_sets = standard
# Disable the rule for trailing commas on the call site (e.g., function calls, constructors)
ktlint_standard_trailing-comma-on-call-site = disabled
# Disable the rule for trailing commas on the declaration site (e.g., class/function declarations)
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_no-unused-imports = enabled
ktlint_standard_indent = enabled
ktlint_standard_spacing-around-colon = enabled
ktlint_standard_final-newline = disabled


[composeApp/src/iosMain/kotlin/com/thefallendeveloper/indianmetro/MainViewController.kt]
ktlint_standard_function-naming = disabled


[**/build/**]
ktlint = disabled

[**/generated/**]
ktlint = disabled